.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        
            
    /******************************************
    animation properties are how we connect the keyframe to an element 
    ******************************************/
        animation-name: moveInLeft;
        animation-duration: 2s; /* fast the animation moves*/
        animation-timing-function: ease-in-out; /* defines how the animation will proceed; how fast or slow the other properties we set will animate  */
    
    /* animation-iteration-count:  3; iteration count - how many times the animation will happen */ 
    /*animation-delay: 2s; delay - how long the animation will delay before it begins */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        padding: 5px;

        animation: moveInRight 2s ease-in-out;
    }
}
